{% extends "base.html" %}
{% import "macros.jinja" as macros %}

{% block content %}
<div class="register-new-user-wrapper mx-auto mt-3">
    <div class="container register-new-user">
        <form name="register_new_user" method="POST" novalidate>
            <div class="card">
                <h5 class="card-header">
                    New User Registration
                </h5>
                <div class="card-body">
                    <div class="card-text">
                        {{form.csrf_token}}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-file-person fs-4"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">
                                {{form.first_name(class="form-control")}}
                                {{form.first_name.label(class="form-label")}}
                            </div>
                        </div>
                        {{macros.validation_errors(form.first_name.errors)}}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-file-person fs-4"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">
                                {{form.last_name(class="form-control")}}
                                {{form.last_name.label(class="form-label")}}
                            </div>
                        </div>
                        {{macros.validation_errors(form.last_name.errors)}}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-envelope fs-4"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">
                                {{form.email(class="form-control")}}
                                {{form.email.label(class="form-label")}}
                            </div>
                        </div>
                        {{macros.validation_errors(form.email.errors)}}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-key fs-4"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">
                                {{form.password(class="form-control")}}
                                {{form.password.label(class="form-label")}}
                            </div>
                        </div>
                        {{macros.validation_errors(form.password.errors)}}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-key fs-4"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">
                                {{form.confirm_password(class="form-control")}}
                                {{form.confirm_password.label(class="form-label")}}
                            </div>
                        </div>
                        {{macros.validation_errors(form.confirm_password.errors)}}
                    </div>
                </div>
                <div class="card-footer text-end">
                    {{form.create_new_user(class="btn btn-primary me-2")}}
                    {{form.cancel(class="btn btn-warning")}}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/register_new_user.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/auth.css') }}" />
{% endblock %}
