{% import "macros.jinja" as macros with context %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MyBlog</title>
  {% block styles %}
  <style>
    :root {
      --background-url: url({{url_for("static", filename= "images/myblog_banner_50.png")}});
    }
  </style>
  <link rel='shortcut icon' type='image/vnd.microsoft.icon' href="{{ url_for('static', filename='images/favicon.ico') }}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
  {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
  <div class="banner card">
    <div class="card-body">
      <div class="col-md-4 offset-md-1">
        <h2 class="card-title fw-bold">MyBlog Home Page</h2>
        <p class="card-text">Just a blog to call my own</p>
      </div>
    </div>
  </div>
  <main class="flex-shrink-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand ml-2" href="{{url_for('intro_bp.home')}}">
        <img
          src="{{url_for('static', filename='images/myblog_brand_icon.svg')}}"
          alt=""
          width="30"
          height="24"
        />
        MyBlog
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          {{ macros.build_nav_item(nav_item) }}
        </ul>
        <form class="navbar-nav ms-auto me-2" action="{{url_for('content_bp.blog_posts')}}">
          <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-success" type="submit" style="width: 9em">
            <i class="bi bi-search"></i> Search
          </button>
        </form>
        <div class="navbar-nav">
          {{ macros.build_login_logout_items(current_user) }}
        </div>
      </div>
    </nav>

    {# insert the flask flash handler #}
    {{ macros.flask_flash_messages() }}

    {% block content %}{% endblock %}
  </main>
  <footer class="footer fixed-bottom py-1 bg-light">
    <div class="container text-center">
      <span class="text-muted">&copy; Copyright 2021 / MyBlog</span>
    </div>
  </footer>

  {% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  {% endblock %}
</body>
</html>
