{% extends "base.html" %}
{% import "macros.jinja" as macros %}

{% block content %}
<div class="reset-password-wrapper mx-auto mt-3">
    <div class="container register-new-user">
        <form name="reset_password" method="POST" novalidate>
            <div class="card">
                <h5 class="card-header">Reset Password</h5>
                <div class="card-body">
                    <div class="card-text">
                        {{form.csrf_token}}
                        <div class="input-group mb-3">
                          <span class="input-group-text">
                              <i class="bi bi-key fs-4"></i>
                          </span>
                          <div class="form-floating form-floating-group flex-grow-1">
                              {{form.password(class="form-control")}}
                              {{form.password.label(class="form-label")}}
                          </div>
                      </div>
                      {{macros.validation_errors(form.password.errors)}}
                      <div class="input-group mb-3">
                          <span class="input-group-text"><i class="bi bi-key fs-4"></i></span>
                          <div class="form-floating form-floating-group flex-grow-1">
                              {{form.confirm_password(class="form-control")}}
                              {{form.confirm_password.label(class="form-label")}}
                          </div>
                      </div>
                      {{macros.validation_errors(form.confirm_password.errors)}}
                  </div>
                </div>
                <div class="card-footer text-end">
                    <button
                        type="button"
                        class="btn btn-primary me-2"
                        data-bs-toggle="modal"
                        data-bs-target="#confirmation_modal"
                        tabindex="3"
                    >
                        Reset Password
                    </button>
                    {{form.cancel(class="btn btn-warning")}}
                </div>
            </div>
        </form>
    </div>
</div>
{{ macros.form_confirmation_modal(
    "Confirm Reset Password",
    "Are you sure you wish to reset your password?",
    "Reset",
    "Cancel"
)}} 
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/reset_password.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/auth.css') }}" />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/confirm_submit.js') }}"></script>
    <script>
        confirm_submit_initialize("reset_password", "reset");
    </script>
{% endblock %}
