{#
    This macro builds the nav items for the application navbar
#}
{% macro build_nav_item(nav_item) %}
  {# configure the navigation items to build in the navbar #}
  {% set nav_items = [
      {"name": "Home", "link": "intro_bp.home", "icon": "bi-house"},
      {"name": "About","link": "intro_bp.about", "icon": "bi-info-square"},
    ]
  %}
  {% for nav_item in nav_items %}
    {% if request.endpoint == nav_item["link"] %}
      <a class="nav-link ml-2 active" aria-current="page" href="{{url_for(nav_item['link'])}}">
        {% if "icon" in nav_item %}
        <i class="bi {{ nav_item['icon'] }}"></i>
        {% endif %}
        {{nav_item["name"]}}
      </a>
    {% else %}
      <a class="nav-link ml-2" href="{{url_for(nav_item['link'])}}">
        {% if "icon" in nav_item %}
        <i class="bi {{ nav_item['icon'] }}"></i>
        {% endif %}
        {{nav_item["name"]}}
      </a>
    {% endif %}
  {% endfor %}
{% endmacro %}

{# 
    This macro outputs any form errors and should be
    placed under a form control in the html
#}
{% macro validation_errors(errors) %}
    {% if errors %}
        {% for error in errors %}
            <div class="text-danger small">{{error}}</div>
        {% endfor %}
    {% endif %}
{% endmacro %}
