{% extends "base.html" %}
{% import "macros.jinja" as macros %}
{% block content%}
<div class="container-fluid mt-3">
  {% if posts.items %}
    {% for post in posts.items %}
    <a
      href="{{ url_for('content_bp.blog_post', post_uid=post.post_uid) }}"
      style="color: black; text-decoration: none"
    >
      <div class="card mb-3 mx-3">
        <h5 class="card-header">
          Title: {{ post.title | safe}}
          {% if can_set_blog_post_active_state(post) %}
            {% if post.active %}
              <span class="badge rounded-pill bg-success float-end">Active</span>
            {% else %}
              <span class="badge rounded-pill bg-danger float-end">Inactive</span>
            {% endif %}
          {% endif %}
        </h5>
        <div class="card-text myblog-post">
          {{ post.content | truncate(100, end="...") | markdown}}
        </div>
      </div>
    </a>
    {% endfor %}
    {{ macros.render_pagination(posts, "content_bp.blog_posts")}}
  {% else %}
    <h4>There are currently no posts in MyBlog</h4>
  {% endif %}
</div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/post.css') }}" />
{% endblock %}

