{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">
            About
        </div>
        <div class="card-body">
            <h5 class="card-title">Information about this website</h5>
            <p class="card-text">
                This is an implementation of the MyBlog blogging
                web application. This web application is developed over
                the course of multiple chapters from the book,
                "The Well-Grounded Python Developer".
            </p>
            <p class="card-text">
                The intent of the MyBlog application is not to create
                a complete and fully feature blogging system, there are
                many of those in existence already. The goal is to
                progressively see and learn how to implement the big picture
                that's necessary to implement a complex system like this.
            </p>
        </div>
    </div>
</div>
{% endblock %}