{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="card bg-warning mb-3 font-weight-bold" style="margin-top: 10px;">
        <div class="card-body">
            Current time: {{ data["now"] }}
        </div>
    </div>
    <p>Page visits: {{ data["page_visit"].counts() }}</p>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            List of available banner colors
        </div>
        <ul class="list-group list-group-flush">
            {% for banner_color in data["banner_colors"] %}
            <li class="list-group-item">{{ banner_color }}</li>
            {% endfor %}
        </ul>
    </div>
    <br />
    <button id="change-banner-color" type="button" class="btn btn-primary">
        Change Banner Color
    </button>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    const banner_colors = {{ data["banner_colors"] | tojson | safe }};
    </script>
    <script src="{{ url_for('.static', filename='js/index.js') }}"></script>
{% endblock %}
